{{#if model.private_replies}}
<div class="row">
  <div class="post-notice custom">
    {{d-icon 'user-secret'}}
    <div>
      <p>{{i18n 'private_replies.topic_banner_line_1'}}</p>
      {{#if (eq siteSettings.private_replies_topic_starter_primary_group_can_see_all true)}}
        <p>{{i18n 'private_replies.topic_banner_line_2_also_group'}}</p>
      {{else}}
        <p>{{i18n 'private_replies.topic_banner_line_2'}}</p>
      {{/if}}
    </div>
  </div>
</div>
{{/if}}
